{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="col-md-6 todo-content p-5">
        <h5>LOGIN FORM</h5>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}

            <button class="btn btn-outline-primary btn-sm my-3" type="submit">login</button>
        </form>
        <p style="text-align:center"><small style="">Need an account ...? <a href="{% url 'registration'%}">sign up
            here</a></small></p>
    </div>
</div>
{% endblock content %}