{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 todo-content p-5">
            <h5>{{note.heading|title}}

            </h5>
            <hr>

            <div class="col">

                <p>{{note.content|title}}</p>

                <p>Created.{{note.date_created}}</p>
                <p>
                    <a href="{% url 'update-note' note.id%}" class="btn btn-outline-secondary btn-sm">UPDATE</a>
                    <a href="{% url 'delete-note' note.id%}" class="btn btn-outline-primary btn-sm">DELETE</a>
                </p>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock content %}